# Ignore installed npm modules
node_modules/

# Ignore build tool output, e.g. code coverage
.nyc_output/
coverage/

# Ignore API documentation
api-docs/

# Ignore folders from source code editors
.vscode
.idea

# Ignore eleventy output when doing manuell tests
_site/

package-lock.json

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
