---
title: Redis Developer
layout: layout.html

data_101_app:
    - 
      demo: "Connect to Redis: all languages"
      url: "https://github.com/Redislabs-Solution-Architects/redis-connect"
    - 
      demo: "Getting Started with Redis Streams"
      url: "https://github.com/tgrall/redis-streams-101-java"
    - 
      demo: "Getting Started with RediSearch"
      url: "https://github.com/redis-developer/getting-started-redisearch"
    - 
      demo: "Redis Streams & Consumer Groups"
      url: "https://github.com/redis-developer/redis-streams-in-action"
  
data_complete_app: 
    - 
      demo: "Brewdis"
      url: "https://github.com/Redislabs-Solution-Architects/brewdis"
    - 
      demo: "Popup Store"
      url: "https://github.com/RedisTimeSeries/redis-pop-up-store"
    - 
      demo: "Microservices with Redis"
      url: "https://github.com/tgrall/redis-microservices-demo"

---

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">


          <div class="jumbotron text-center">
            <h1 >Redis Developers: Welcome Home!</h1>
            <img src="{{ 'images/logo/logo_small.png' | url }}" height="125" />


          </div>
        
          <!-- Three columns of text below the carousel -->
          <div class="row">            
            <div class="col-12">
              <h3 class="mb-3">Getting Started with Redis</h3>    
            </div>              
          </div>

          <div class="row">
            <div class="col-lg-4 h3">
              <a href="{{ '/content/get-started/01-db-create/' | url  }}">
              <button type="button" class="btn btn-info btn-circle btn-xl">
                1
              </button>
              <div class="p-2">
                Create a Redis Database
              </div>
              <img src="{{ '/images/getting_started/01-db-start.png' | url }}" width="300">
            </a>
            </div>
            <div class="col-lg-4 h3">
              <a href="{{'/content/get-started/02-explore-data/' | url }}">
              <button type="button" class="btn btn-info btn-circle btn-xl">
                2
              </button>
              <div class="pb-2">
                Discover your Data
              </div>            
              <img src="{{'/images/getting_started/02-data-explore.png' | url }}" width="300">
            </a>
            </div>
            <div class="col-lg-4 h3">
              <a href="{{'/content/develop/' | url}}">
                <button type="button" class="btn btn-info btn-circle btn-xl">
                3
              </button>
              <div class="pb-2">
                Code your application
              </div>            
              <img src="{{'/images/getting_started/03-code-application.png' | url }}" width="300">
            </a>
            </div>
        </div>
      </div>


 <div class="row mb-5">            
  <div class="col-12">
  </div>              
</div>
<hr>

<div class="row">            
          <div class="col-12">
            <h3 class="mb-3">Choose Your Programming Language</h3> 
            Find documentation, sample code ad tools to develop with your favorite language.  
          </div>              
        </div>

        <div class="row mt-2">
          <div class="col-lg-1">
          </div>  
    
          <div class="col-lg-2">
            <img src="{{ '/images/logo/java.png' | url }}" width="80">
          </div>  
          <div class="col-lg-2">
            <img src="{{ '/images/logo/python.png' | url }}" width="80">
          </div>  

          <div class="col-lg-2">
            <img src="{{ '/images/logo/nodejs.png' | url }}" width="80">
          </div>  

          <div class="col-lg-2">
            <img src="{{ '/images/logo/golang.png' | url }}" width="80">
          </div>  

          <div class="col-lg-2">
            <img src="{{ '/images/logo/csharp.png' | url }}" width="100">
          </div>  

          <div class="col-lg-1"></div>  
        </div>



<div class="mb-5">
  <div class="row mb-5">            
    <div class="col-12">
    </div>              
  </div>
  <hr>

          <!-- Blogs, Videos, and Pocasts -->
          <div class="row">            
            <div class="col-12">
              <h3 class="mb-3">Samples and Demonstrations</h3> 
            </div>              
          </div>

          <div class="row">
            <div class="col-6">
              <div class="h5">
                <img src="{{ 'images/logo/logo_small.png' | url }}" height="25" />
                Redis 101
              </div>
              <ul>
                {% for item in data_101_app %}
                  <li><a href="{{item.url}}" >{{item.demo}}</a></li>
                {% endfor %}
              </ul>
            </div>              


            <div class="col-6">
              <div class="h5">
                <img src="{{ 'images/logo/logo_small.png' | url }}" height="25" />
                Complete Applications
              </div>
              <ul>
                {% for item in data_complete_app %}
                 <li><a href="{{item.url}}" >{{item.demo}}</a></li>
                {% endfor %}
              </ul>
            </div>  
          </div>

</div>  




      <div class="mb-5 mt-5">
        <div class="row mb-5">            
          <div class="col-12">
          </div>              
        </div>
        <hr>

        <!-- Blogs, Videos, and Pocasts -->
        <div class="row">            
          <div class="col-12">
            <h3 class="mb-3">Blogs, Videos, and Pocasts</h3> 
          </div>              
        </div>

        <div class="row">

          <div class="col-lg-4">
            <img class="rounded" src="https://redislabs.com/wp-content/uploads/2020/08/ajeet-top-5-hero-270x191-v2.png" alt="Generic placeholder image" width="240">
            <div>
              Featured Blog<br/> <a href="https://redislabs.com/blog/top-5-reasons-to-choose-redis-enterprise-cloud-over-amazon-elasticache/">How Redis Enterprise Cloud Meets the Needs of Maturing Enterprise Customers On AWS</a>.
            </div>

            <div class="mt-4"> 
              <a class="btn btn-secondary" href="https://redislabs.com/blog/tech-blog/" role="button">Tech Blog &raquo;</a>
            </div>

          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded" src="https://redislabs.com/wp-content/uploads/2019/04/redis-keys-1.png" alt="Generic placeholder image" width="240">
            <div>
              Featured Webinar<br/> <a href="https://www.youtube.com/watch?v=CRGPbCbRTHA&list=PL83Wfqi-zYZE0duA4cMp7_0wOvYbtFgZs&index=3">Intro to Redis Commands and Data Structures</a>              
              <br>
              <br>
            </div>
            <div class="mt-4"> 
              <a class="btn btn-secondary" href="https://redislabs.com/tech-talks/" role="button">More Videos &raquo;</a>
            </div>

          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded" src="https://redislabs.com/wp-content/uploads/2020/03/redis-stars-banner-1.jpg" alt="Generic placeholder image" width="240" >
            <div>
              Featured Podcast<br/> <a href="https://redisstars.simplecast.com/episodes/rapido">Srivatsa Katta | Redis usage at Rapido</a>
            </div>

            <div class="mt-4"> 
              <a class="btn btn-secondary" href="https://redisstars.simplecast.com/episodes" role="button">More Podcasts &raquo;</a>
            </div>          
          </div><!-- /.col-lg-4 -->


        </div>
        <!-- //Blogs, Videos, and Pocasts -->


        <div class="mb-5 mt-5">
          <div class="row mb-5">            
            <div class="col-12">
            </div>              
          </div>
          <hr>
        <!-- Community -->
        <div class="row">            
          <div class="col-12">
            <h3 class="mb-3">Community</h3> 
          </div>              
        </div>

        <div class="row">

          <div class="col-lg-4">
            <a href="https://forum.redislabs.com/" >
              
              <img class="rounded" src="{{ '/images/community/community-forums-screenshot.png' | url }}" alt="Generic placeholder image" width="240">
              <div>
                Discussion Forums
              </div>
            </a>
        </div><!-- /.col-lg-4 -->


          <div class="col-lg-4">
            <a href="https://launchpass.com/rediscommunity" >
            <img class="rounded" src="{{ '/images/community/community-group-people.png' | url }}" alt="Generic placeholder image" width="240">
            <div>
              Community Slack
            </div>
            </a>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <a href="https://redislabs.com/community/events" >

            <img class="rounded" src="{{ '/images/community/community-meet-events.png' | url }}" alt="Generic placeholder image" width="240">
            <div>
              Meetup, User Groups and Conferences
            </div>
          </div><!-- /.col-lg-4 -->

        </div>
        <!-- /Community -->



      </div><!-- /.container -->
