---
title: Redis Developer
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{'/css/redis-developer.css' | url }}" rel="stylesheet">
  </head>
  <body>

    
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>



    

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar">

        <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation"><div class="bd-toc-item active">
            <a class="bd-toc-link" href="{{ '/' | url  }}">
              Home
            </a>

        <ul class="nav bd-sidenav">
          <li class="active bd-sidenav-active">
            <a class="bd-toc-link" href="{{ '/content/develop/' | url  }}">
              Develop
            </a>
          </li>
          <li>
            <a href="{{ '/content/develop/java' | url  }}">Java</a>
          </li>
          <li>
            <a href="{{ '/content/develop/python' | url  }}">Python</a>
          </li>
          <li>
            <a href="{{ '/content/develop/nodejs' | url  }}">Node.js</a>
          </li>
          <li>
            <a href="{{ '/content/develop/dotnet' | url  }}">C#/.Net</a>
          </li>
          <li>
            <a href="{{ '/content/develop/golang' | url  }}">Go</a>
          </li>
          <li>
            <a href="{{ '/content/develop/' | url  }}">Others</a>
          </li>
        </ul>
    </div>

    
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{{ '/about' | url  }}">
        About
      </a>

    </div></nav>

        </div>


        

        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          
          {{content}}

        </main>

      </div>


    </div>



          
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
      </body>
    </html>