---
title: Redis Developer
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{'/css/redis-developer.css' | url }}" rel="stylesheet">
  </head>
  <body>

    
    <header>
      <!-- Fixed navbar --> 
      <nav class="navbar navbar-expand navbar-dark bg-dark">

        <a class="nav-link" href="{{ '/' | url  }}">
          <span class="navbar-brand" >
          <img src="{{ 'images/logo/logo_small.png' | url }}" height="30" />
          Redis Developer
          </span> 
        </a> 

        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNav">
        
          <ul class="navbar-nav nav-fill w-100">

            <li class="nav-item active ">
              <a class="nav-link" target="_blank" href="https://university.redislabs.com">LEARN</a>
            </li>            

            <li class="nav-item active ">
              <a class="nav-link" target="_blank" href="https://redis.io/commands">COMMANDS</a>
            </li>            

            <li class="nav-item active ">
              <a class="nav-link" target="_blank" href="https://docs.redislabs.com">DOCS</a>
            </li>            
          </ul>
          </div>
          </div>
          
      </nav>
    </header>



    

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-md-3 col-xl-2 bd-sidebar">

        <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation"><div class="bd-toc-item active">
            <a class="bd-toc-link" href="{{ '/' | url  }}">
              Home
            </a>

        <ul class="nav bd-sidenav mb-2">
          <li class="active bd-sidenav-active">
            <a class="bd-toc-link" href="{{ '/content/develop/' | url  }}">
              Develop
            </a>
          </li>
          <li>
            <a href="{{ '/content/develop/java' | url  }}">Java</a>
          </li>
          <li>
            <a href="{{ '/content/develop/python' | url  }}">Python</a>
          </li>
          <li>
            <a href="{{ '/content/develop/nodejs' | url  }}">Node.js</a>
          </li>
          <li>
            <a href="{{ '/content/develop/dotnet' | url  }}">C#/.Net</a>
          </li>
          <li>
            <a href="{{ '/content/develop/golang' | url  }}">Go</a>
          </li>
          <li>
            <a href="{{ '/content/develop/' | url  }}">Others</a>
          </li>
        </ul>

        <ul class="nav bd-sidenav mb-2"">
          <li class="active bd-sidenav-active bd-toc-link">
              Do more with Redis
          </li>
          <li>
            <a href="https://redisearch.io">RediSearch</a>
          </li>
          <li>
            <a href="https://redisjson.io">RedisJSON</a>
          </li>
          <li>
            <a href="https://redisgears.io">RedisGears</a>
          </li>
          <li>
            <a href="https://redisai.io">RedisAI</a>
          </li>
          <li>
            <a href="https://redisgraph.io">RedisGraph</a>
          </li>
          <li>
            <a href="https://redistimeseries.io">RedisTimeSeries</a>
          </li>
          <li>
            <a href="https://redisbloom.io">RedisBloom</a>
          </li>
        </ul>

        <ul class="nav bd-sidenav mb-2"">
          <li class="active bd-sidenav-active">
            <a class="bd-toc-link" href="{{ '/content/tools/' | url  }}">
              Tools
            </a>
          </li>
        </ul>

        <ul class="nav bd-sidenav mb-2"">
          <li class="active bd-sidenav-active bd-toc-link">
              Use Cases
          </li>
          <li>
            <a href="https://redislabs.com/solutions/use-cases/microservices/" _target="blank">Microservices</a>
          </li>
          <li>
            <a href="https://redislabs.com/solutions/use-cases/caching/" _target="blank">Caching</a>
          </li>
          <li>
            <a href="https://redislabs.com/solutions/use-cases/session-management/" _target="blank">Session Management</a>
          </li>
          <li>
            <a href="https://redislabs.com/solutions/use-cases/fraud-mitigation/" _target="blank">Fraud Detection</a>
          </li>
          <li>
            <a href="https://redislabs.com/solutions/use-cases/real-time-inventory/" _target="blank">Real-Time Inventory</a>
          </li>
          <li>
            <a href="https://redislabs.com/solutions/use-cases/messaging/" _target="blank">Messaging</a>
          </li>
        </ul>    

    </div>

</nav>

        </div>


        

        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          
          {{content}}

        </main>

      </div>


    </div>



          
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
      </body>
    </html>